<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
  [ngClass]="{'open': panelOpenState, 'close': !panelOpenState}">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>{{category?.icon}}</mat-icon> {{category?.name}}
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div cdkDropList id="fieldsList" cdkDropListSortingDisabled
    [cdkDropListData]="category?.fields"
    [cdkDropListConnectedTo]="sectionIds" class="fieldsList">

    <button mat-button routerLink="." *ngFor="let field of category?.fields" cdkDrag><mat-icon style="margin-right: 4px;">drag_indicator</mat-icon> {{ field.name }}</button>

  </div>
</mat-expansion-panel>
