.open {
    background-color: #03699b; 
    color: #fff;
}

.close {
    background-color: #03567e; 
}

.fieldsList {
    padding-top: 12px;
}
.fieldsList button {
    width: calc(100% - 24px);
    padding: 6px 0;
    margin: 0 12px;
    text-align: left;
    border-radius: 0;
}
.fieldsList button:not(:last-child) {
    border-bottom: 1px solid #7f7f7f;
 }

.mat-expansion-panel {
    margin: 16px 0;
}

.mat-expansion-panel-header {
    height: 58px!important;
}

.mat-expansion-panel-header-title {
    display: flex;
    align-items: center;
    gap: 10px;
}