.icon {
  float: right;
}

.handle-icon {
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

.delete-icon {
  color: #ff0000;
  cursor: grab;
  margin: 0 8px;
}

.visible-icon {
  color: #767978;
}

.selected {
  padding: 5px;
  border-radius: 5px;
  background: #67a5c3;
  color: #ffffff;
}

.selected .visible-icon, .selected .handle-icon {
  color: #ffffff;
}

.section {
  height: 100%;
}
