.attributes {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.attributes * {
  margin-bottom: 12px;
  font-size: 14px;
}

.options-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-options {
  width: 30px;
  height: 30px;
  background-color: #03699b;
  color: #ffffff;
}
.options {
  margin: 5px;
}

.mat-slide-toggle {
    margin-bottom: 24px!important;
}

.mat-form-field {
  border-radius: 12px;
}
::ng-deep .mat-form-field .mat-form-field-flex {
  background-color: #03699b;
  padding-top: 12px !important;
  border-radius: 12px !important;
  border: 1px solid #03699b;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-flex {
  border-color: #dbdbdb;
}
::ng-deep .mat-form-field .mat-form-field-underline {
  display: none;
}
::ng-deep .mat-form-field .mat-form-field-label {
  color: #d8d8d8 !important;
  font-weight: 500;
}
::ng-deep .mat-form-field .mat-input-element {
  color: #ffffff;
  caret-color: #ffffff;
  margin: 0;
}
::ng-deep .mat-form-field .mat-form-field-infix {
  padding: 12px 0 6px 0 !important;
}

::ng-deep .mat-autocomplete {
  margin-bottom: 0;
}
